
01-aulas-backend/node_modules/

01-aulas-frontend/node_modules/

01-aulas-typescript/node_modules/
01-aulas-typescript/dist/

02-primeiro-projeto-node/node_modules/
02-primeiro-projeto-node/dist/
02-primeiro-projeto-node/.vscode

02-iniciando-backend/.idea/
02-iniciando-backend/.vscode/
02-iniciando-backend/node_modules/
02-iniciando-backend/build/
02-iniciando-backend/temp/
02-iniciando-backend/tmp/*
02-iniciando-backend/!tmp/.gitkeep


# OSX
#
01-aulas-reactnative/.DS_Store

# Xcode
#
build/
01-aulas-reactnative/*.pbxuser
01-aulas-reactnative/!default.pbxuser
01-aulas-reactnative/*.mode1v3
01-aulas-reactnative/!default.mode1v3
01-aulas-reactnative/*.mode2v3
01-aulas-reactnative/!default.mode2v3
01-aulas-reactnative/*.perspectivev3
01-aulas-reactnative/!default.perspectivev3
01-aulas-reactnative/xcuserdata
01-aulas-reactnative/*.xccheckout
01-aulas-reactnative/*.moved-aside
01-aulas-reactnative/DerivedData
01-aulas-reactnative/*.hmap
01-aulas-reactnative/*.ipa
01-aulas-reactnative/*.xcuserstate

# Android/IntelliJ
#
01-aulas-reactnative/build/
01-aulas-reactnative/.idea
01-aulas-reactnative/.gradle
01-aulas-reactnative/local.properties
01-aulas-reactnative/*.iml

# node.js
#
01-aulas-reactnative/node_modules/
01-aulas-reactnative/npm-debug.log
01-aulas-reactnative/yarn-error.log

# BUCK
01-aulas-reactnative/buck-out/
01-aulas-reactnative/\.buckd/
01-aulas-reactnative/*.keystore
01-aulas-reactnative/!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

01-aulas-reactnative/*/fastlane/report.xml
01-aulas-reactnative/*/fastlane/Preview.html
01-aulas-reactnative/*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
01-aulas-reactnative/ios/Pods/

